* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: #004080;
    color: black;
    padding: 2% 10% 0% 10%;
    border-radius: 10px;
}

.timer {
    text-align: right;
    color: white;
}

.exam-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.instructions {
    background: #ffffff;
    border-left: 6px solid #004080;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.instructions h2 {
    color: #004080;
    margin-bottom: 10px;
}

.instructions ul {
    list-style: disc;
    padding-left: 20px;
}

.instructions ul ul {
    list-style: circle;
    margin-left: 20px;
}

#access-section {
    height: auto;
    background: #eaf1f8;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px green solid;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#access-section h2 {
    margin-bottom: 10px;
}

#access-section input,
#access-section button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#access-section button {
    background: #004080;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

#access-section button:hover {
    background: #003366;
}

#exam-section .header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #23862d;
}

#exam-section .header .nameStudent {
    text-align: center;
}


#exam-section input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#exam {
    margin-top: 40px;
}

.practice-upload {
    background: #fff;
    padding: 15px;
    border-left: 5px solid #004080;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #004d99;
}

@media (max-width: 600px) {
    #exam-section .header {
        flex-direction: column;
    }

    #access-section input,
    #access-section button {
        max-width: 100%;
    }
}